.warningText{
    color: red;
    font-weight: bolder;
    font-size: larger;
}
.normalText{
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}
.POTextArea{
    width: 95%;
    background-color: inherit;
    border: inherit;
    position: relative;
}
.button{
    hight: 25px;
}
.leftButton{
    float: left;
    position: relative;
}
.treeButtons{
    position: relative;
    float: right;
}
.collapseButton{
    float: left;
    margin: 0%;
    position: relative;
}
.rightButton{
    top: 0%;
    float: right;
    position: relative;
}
.textArea{
    float: left;
    margin-top: 10%;
}
.borderBottom{
  border-bottom: 1px solid cadetblue;
}
.borderRight{
  border-right: 1px solid cadetblue;
}
.tableDiv{
    position: relative;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    font-family: monospace;
}
li {
    list-style-type: none;
}
.highlight{
    background-color: #93DBD5;
}
.staticHighlight{
    background-color: #39db88;
}
.collapsedDiv{
    width: 260px;
    height: 120px;
    font-family: monospace;
    border: 1px solid transparent;
    height: auto;
}
.collapsedTable{
    position: relative;
    border: inherit;
    font-size: smaller;
    background-color: inherit;
    margin-left: 5%;
    height: 100%;
    width: 80%;
    table-layout: auto;
}
.jDIButtons{
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #eff1f2;
    width: 15px;
    height: 15px;
}
.textEditor{
    position: relative;
    float: right;
    margin-right: 8%;
    width: 60%;
}
.glyphicon-minus-sign {
    color: red;
}
.glyphicon-plus-sign{
    color: green;
}
