.tab-panel {
    width: 100%;
    display: inline-block;
    min-width: 50px;
    overflow: hidden;
}
.tab-link:after {
    display: block;
    padding-top: 20px;
    content: '';
    overflow: hidden;
}
.tab-link li {
    margin: 0px 5px;
    float: left;
    overflow: hidden;
    list-style: none;
}
.tab-link a {
    padding: 8px 15px;
    display: inline-block;
    background: #b7c7e5;
    overflow: hidden;
    font-weight: bold;
}

.tab-link a:hover {
    background: #3e779d;
    overflow: hidden;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #3e779d;
    color: #0094ff;
    text-decoration:none;
}

.content-area {
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;
}

.inactive{
    display: none;
}

.active {
    display: block;
}